@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    min-width: 20rem;
    text-size-adjust: 100%;
  }

  body,
  h1,
  h2,
  p {
    margin: 0;
  }

  section {
    margin-block: 0;
  }

  body {
    min-height: 100vh;
  }

  img,
  picture,
  svg {
    display: block;
    max-inline-size: 100%;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  a {
    color: inherit;
  }
}
